  <div>
	<div id="global">
	  <div id="main"><div class="modules-website-main"><ul class="header-menu"><li>

			<strong class="current">
		<a href="javascript:;">Rubrique</a>
	</strong>

</li></ul></div></div>
	  <div id="center">
		<div id="sidebar"><div class="modules-website-sidebar"><div id="sidebar-menu-block">
	<h3>Navigation</h3>
	<ul class="sidebar-menu"><li>		<a href="http://generic.intcours.rd-change.devlinux.france.rbs.fr/page-de-test,10027.html">Page n°1</a>			</li><li>				<span>Page n°2</span>	</li></ul></div></div></div>
		<div id="content">
		  <div id="thread"><div class="modules-website-thread"></div></div>
		  <div id="content-block"><div>
  <div class="freeLocation"><div class="freeBlock"><div class="richtext"><h2 class="heading-two">Titre</h2><h3 class="heading-three">Sous-titre</h3>Texte normal<br/><br/><a class="link" href="http://www.yahoo.com" xml:lang="fr" lang="fr">Lien vers une page</a><br/><br/>Liste à puces :<br/><ul class="normal"><li>Item n°1</li><li>Item n°2</li><li>Item n°3</li></ul></div></div></div>
</div></div>
		</div>
	  </div>
	  <div id="footer"><div class="modules-website-footer"></div></div>
	</div>
	<div id="copyright"><div class="modules-website-copyright"><div id="copyright">Copyright &#169; 2007 <a href="http://www.rbs.fr" title="RBS">RBS | Ready Business System</a></div></div></div>
  </div>