<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:change="http://www.rbs.fr/change/1.0/schema">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title i18n:translate="&modules.skin.bo.general.Import-title;"/>
<style>
body { background: #fefefe; }
body, h3 { margin: 0; padding: 0; font-family: Arial; }
img { vertical-align:text-bottom; }
h3 { color: #333; }
#top{
	background: url(<p tal:replace="php: MediaHelper::getBackofficeStaticImage('bg_main_menu.jpg')"/>) top left no-repeat;
	height: 25px;
	margin-bottom: 20px;
}
p { margin: 10px 10px 20px; }
a { color: blue; }
a#back { float: left; }
a#close { float: right; }
</style>
</head>
<body>
<div id="top">
	<h3><img change:icon="palette/command"/> <p tal:omit-tag="" i18n:translate="&modules.skin.bo.general.Import-title;">Import d'un Habillage</p></h3>
</div>
<p><img change:icon="delete/command"/> <p tal:omit-tag="" i18n:translate="&modules.skin.bo.general.Import-error;">Une erreur s'est produit, votre Habillage n'a pas pu être importé.</p></p>
<p><a change:link="back" id="back" i18n:translate="&modules.skin.bo.general.Import-retry;">Réessayer</a><a href="javascript:self.close()" id="close" i18n:translate="&modules.skin.bo.general.Import-close;">Fermer</a></p>
</body>
</html>