<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>${transui:m.skin.bo.general.no-preview-title,ucf}</title>
	</head>
	<body>
		<div align="center">
			<h1 style="font-family:Arial; font-size:1.6em;">${transui:m.skin.bo.general.No-preview-title,ucf}</h1>
			<h2 style="font-family:Arial; font-size:1em; font-weight:normal;">${transui:m.skin.bo.general.No-preview-text,ucf}</h2>
		</div>	
	</body>
</html>